.menu {
    margin: 0;
    padding: 0;
}
a {
    display: flex:
}
.bot{
    background-color: #0000ff;
    color: lime;
    margin-left: 200px;
    margin-top: 50px;
    height: 30px;
    width: 80px;
}